/*pagina contacto*/

.contacto-pag {
    width: 100%;
    height: calc(100vh - 245px);
    background-image: url(../multimedia/cafe4.png);
    background-size: cover;
    background-position: center;
}

.container {
    font-size: 35px;
    text-shadow: 2px 2px 5px rgb(255, 123, 0);
    color: #000000;
    text-decoration: underline;
    text-align: center;
}

.leyenda-contacto {
    width: 30%;
    float: right;
    font-size: 20px;
    color: #0a0a0a;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    border-style: double;
}
form {
    border: 3px solid black;
}
.form-contacto {
    text-align: center;
    text-decoration: underline;
    background-image: linear-gradient(orange, #333);
}

.formu-contacto {
    padding-bottom: 5px;
}
.form-contact {
    margin: 5px;
}
.btn btn-primary {
    margin-top: 3px 5px;
}

/*pagina contacto fin*/