* 
.no-margin{
margin: 0; 
}
header {
  height: 150px;
  background-color: rgb(223, 160, 44);
  border: 3px;
  padding: 2 0px;
}

main {
  width: 100%;
  height: calc(100vh - 200px);
}

main navbar-brand {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(122, 48, 5);
  text-decoration: underline;
}

main .navbar span {
  color: #df6704;
}

main .navbar-toggler {
  border: solid #df6704;
}

main .collapse {
  flex-direction: row-reverse;
}

main .navbar-nav {
  color: #fff;
  font-size: 25px;
}

main .a nav-link {
  color: aliceblue;
}

main .fa-bars {
  color: #c77e10;
}

/*fin de header*/
nav.barra {
  width: auto 100%;
  /*inicio leyenda index*/
}

nav.barra div.barra-nav {
  font-size: 25px;
  color: #ccc;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

nav.barra .barra-nav li:hover {
  background-color: #c77e10;
  color: #333;
}

nav.barra .container {
  position: relative;
}

nav.barra .topleft {
  color: black;
  position: absolute;
  background-color: rgba(112, 128, 144, 0.295);
  top: 8px;
  left: 16px;
  font-size: 18px;
}

nav.barra img {
  width: 100%;
  height: auto;
}

nav.barra .topnav {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  background-color: #333;
  background-image: linear-gradient(orange, #333);
}

nav.barra a {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: height 4s;
}

nav.barra a:hover {
  background-color: rgba(243, 171, 37, 0.6431372549);
  color: black;
}

@media screen and (max-width: 600px) {
  nav.barra .topnav {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }

  nav.barra a {
    border: #1a0303 solid 2px;
    width: 35%;
    font-size: 15px;
    margin: 3px;
    padding: 5px;
  }

  nav.barra .contenedor {
    width: 50rem;
    margin: 0 auto;
  }
}

nav.barra .pag-prin {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../multimedia/jumbotrom.jpg);
  background-position: calc(100vh - 245px);
  background-size: cover;
  background-repeat: no-repeat;
}

nav.barra .leyenda-ini {
  margin: 10px;
  padding: 5px;
  color: #fffefe;
  text-shadow: 0 0 5px rgb(255, 255, 255);
  background-color: transparent;
}

nav.barra h2 {
  font-size: 30px;
  color: rgb(235, 220, 220);
  text-shadow: 0 0 5px black;
  display: flex;
  flex-direction: row;
}

nav.barra .leyenda-r p {
  text-align: justify;
  color: rgb(10, 6, 2);
  font-size: 20px;
  text-shadow: 0 0 5px rgb(255, 255, 255);
  border: #af5205 solid 2px;
}

nav.barra .leyenda-r a {
  color: black;
  background-color: rgb(243, 106, 27);
  font-size: 15px;
  padding: 3px;
  text-align: center;
}

nav.barra:hover {
  color: rgba(49, 231, 176, 0.63);
  background-color: rgb(228, 138, 138);
}

@media screen and (max-width: 480px) {
  nav.barra .leyenda-ini {
    background-color: #333;
  }

  nav.barra h2 {
    font-size: 15px;
  }

  nav.barra .leyenda-r p {
    font-size: 10px;
  }
}


.info-cafe {
  width: 100%;
  height: calc(100vh - 245px);
  background-image: url(../multimedia/blog2.jpg);
  background-size: cover;
  background-position: center;
}

.info-cafe p {
  width: 55%;
  margin-left: 15px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: rgba(222, 184, 135, 0.308);
  text-shadow: 0 0 5px rgba(238, 156, 4, 0.295);
  display: flex;
  flex-direction: column;
}

/*pagina contacto*/
.contacto-pag {
  width: 100%;
  height: calc(100vh - 245px);
  background-image: url(../multimedia/cafe4.png);
  background-size: cover;
  background-position: center;
}

.container {
  font-size: 35px;
  text-shadow: 2px 2px 5px rgb(255, 123, 0);
  color: #000000;
  text-decoration: underline;
  text-align: center;
}

.leyenda-contacto {
  width: 30%;
  float: right;
  font-size: 20px;
  color: #0a0a0a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-style: double;
}

form {
  border: 3px solid black;
}

.form-contacto {
  text-align: center;
  text-decoration: underline;
  background-image: linear-gradient(orange, #333);
}

.formu-contacto {
  padding-bottom: 5px;
}

.form-contact {
  margin: 5px;
}

.btn btn-primary {
  margin-top: 3px 5px;
}

/*pagina contacto fin*/
/*inicio leyenda-empresa*/
.leyenda-empresa {
  width: 100%;
  height: calc(100vh - 245px);
  background-image: url(../multimedia/cafe6.png);
  background-size: cover;
  background-position: center;
}

.leyenda-empresa h2 {
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 45px;
  margin-left: 40px;
}

.leyenda-empresa p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  font-size: 20px;
  width: 40%;
  color: #681541;
  background-color: rgba(255, 228, 196, 0.384);
}

@media screen and (max-width: 420px) {
  .leyenda-empresa h2 {
    font-size: 25px;
  }
}

/*pagina lo logueate*/
main.logueate {
  width: 100%;
  height: calc(100vh - 245px);
  background-image: url(../multimedia/cafe4.png);
  background-position: center;
  background-size: cover;
}

main.logueate .leyenda-logueate {
  width: 100%;
  color: #241111;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 0 0 5px #ccc;
  text-align: right;
  padding-right: 50px;
  text-decoration: underline;
}

main.logueate .formulario-leyenda {
  float: right;
  padding-right: 180px;
}

main.logueate .form-group label {
  float: left;
}

/*fin pagina logueate*/
/* pagina productos*/
main .jumbotron {
  width: 100%;
  height: calc(100vh - 245px);
}

.jumbotron {
  width: 100%;
  background-image: url(../multimedia/jumbotrom.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron h1 {
  width: 170px;
  font-size: 35px;
  color: #080501;
  text-shadow: 0 0 5px #1f1b1b;
  background-color: rgba(241, 198, 57, 0.349);
}

.jumbotron p {
  font-size: 30;
  color: #000000;
  background-color: rgba(196, 129, 5, 0.5215686275);
}

section {
  display: flex;
  justify-content: space-between;
  background-color: rgb(37, 39, 39);
  padding: 20px;
}

.card {
  width: 30%;
  min-height: 300px;
  background-color: orange;
  padding: 10px;
  border: 7px solid black;
}

.card-img {
  width: 100%;
  height: 180px;
  background-position: center;
  background-size: cover;
}

.card__title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px black;
  font-size: 27px;
  margin-top: 20px;
}

.card__desc {
  padding: 15px;
  text-align: justify;
}

.card__boton {
  background-color: grey;
  color: beige;
  text-decoration: none;
  display: block;
  width: 90%;
  margin: 5%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  padding: 10px 20px;
}

.card__boton:hover {
  background-color: blueviolet;
}

.card--xl {
  width: 100%;
  border: blue;
}

.card__img--xl {
  height: 250px;
}

.card__title--xl {
  font-size: 40px;
  color: red;
}

.card--md {
  width: 45%;
}

/*fin de productos*/
/*# sourceMappingURL=estilos.css.map */